---
import Layout from '../layouts/Layout.astro';
import ProductCard from '../content/ProductCard.astro';
import MemberCard from '../content/MemberCard.astro';
import { products } from '../data/products.js';
import { member } from '../data/member.js';

---

<Layout title="Easily Software">

  <!-- 1. Hero / presentación -->
<header class="header">
  <div class="contenedor contenido-header">
    <h1>Easily Software</h1>
    
    <button class="hamburger" id="hamburger">
      ☰
    </button>
    <nav class="nav-principal" id="nav">
      <a href="#about">About Us</a>
      <a href="#products">Products</a>
      <a href="#mission">Mision</a>
	  <a href="#demo">Demo Meeting</a>
	  <a href="#team">Team</a>
    </nav>
  </div>
</header>

  <!-- 2. Sobre la empresa -->
  <section id="about" class="contenedor about sobre-easily">
    <div class="imagen-home">
      <img src="/img/img_home.avif" alt="About Us Image" />
    </div>
    <div class="contenido-home">
      <h2>About Us</h2>
      <p>We are a team of passionate developers dedicated to delivering high-quality software solutions.</p>
    </div>
  </section>

  <!-- 3. Productos -->
  <section id="products" class="contenedor">
    <h2>Our Products</h2>
      <div class="contenedor-cards">
        {products.map(product => (
          <ProductCard 
            title={product.title} 
            description={product.description} 
            logo={product.logo} 
            image={product.image} 
            link={product.link}
          />
        ))}
    </div>
  </section>

  <section id="mission" class="contenedor imagen-home sobre-easily">
    <div class="contenido-home">
      <h2>Our mission</h2>
      <p>Our mission is to create innovative, reliable, and user-focused digital solutions that help businesses and people thrive in the modern world. As a team of passionate full-stack developers, we aim to combine technology, creativity, and teamwork to turn ideas into impactful web experiences.</p>
    </div>
    <div class="imagen-home">
      <img src="/img/avion.png" alt="About Us Image" />
    </div>

  </section>
  <!-- 4. Video demo -->
  <section id="demo" class="contenedor demo sobre-easily">
    <div class="contenido-home">
      <h2>Team meeting</h2>
      <p>This is one of our team meetings. Here you can see the great work environment we have at Easily Software and the camaraderie that characterizes us.</p>
    </div>
    <div class="imagen-home">
      <video controls loop class="video-ingles">
        <source src="/video/demo.webm" type="video/mp4" />
        Your browser does not support the video.
      </video>
    </div>
  </section>

  <!-- 5. Equipo -->
  <section id="team" class="contenedor team">
    <h2>Team Members</h2>
    <div class="team-grid">
            <div class="contenedor-cards_members">
        {member.map(member => (
          <MemberCard 
            name={member.name} 
            image={member.image} 
            description={member.description}
            cv={member.cv}
          />
        ))}
    </div>
    </div>
  </section>

</Layout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const hamburger = document.getElementById("hamburger");
    const nav = document.getElementById("nav");

    if (hamburger && nav) {
      hamburger.addEventListener("click", () => {
        nav.classList.toggle("active");
      });
    }
  });
</script>
